{% block body %}
    <div class = "meteo">

      <div id="cont_60bd62f4b98187de5ccfbd1ee85b9537"><script type="text/javascript" async src="https://www.tameteo.com/wid_loader/60bd62f4b98187de5ccfbd1ee85b9537"></script></div>

      
    <div id="cont_e32d3488d4445bee3098fa83487383c9"><script type="text/javascript" async src="https://www.tameteo.com/wid_loader/e32d3488d4445bee3098fa83487383c9"></script></div>

  </div>

    {% endblock %}
  </body>
</html>
