<div id="playlist">

<audio  src="{{asset('audio/invocation.mp3')}}" controls   style="width: 200px;"></audio>
<audio  src="{{asset('audio/salam.mp3')}}" controls   style="width: 200px;"></audio>
</div>
