
<div id="live">

<ul class="list-group">
  <li class="list-group-item list-group-item-primary"><a href="https://makkahlive.net/tvcamera.aspx" target="_blank">Makkah live</a></li>
  <li class="list-group-item list-group-item-primary"><a href="https://makkahlive.net/madinalive.aspx" target="_blank">Medine live </a></li>
  <li class="list-group-item list-group-item-primary"><a href="https://www.youtube.com/watch?v=NaIKl1_k81k" target="_blank">Apprendre la talbya</a></li>
</ul>



</div>
