<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin HOME!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/reset.css')}}">
        <link rel="stylesheet" href="{{asset('css/styleadmin.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:300" rel="stylesheet">
    </head>
    <body>
        {% block body %}

        {% endblock %}



        {% block javascripts %}
        <script
			     src="http://code.jquery.com/jquery-3.3.1.min.js"
			     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		       crossorigin="anonymous">
        </script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        {% endblock %}
    </body>
</html>
