{% block body %}
<div class="footer">
  <div id="titre_slogan">

      <h1>LA SOLUTION POUR VOTRE DÉPART A LA MECQUE</h1>
      <p>Découvrez les agences de départ à la Mecque dans votre région, adapté a votre budget.</p>
    </div>
    <ul>
      <li>
        <i class="fas fa-desktop"></i>
        <h2>COMPAREZ</h2>
        <p>Sélectionnez les agences qui correspondent à vos éxigences</p>
      </li>

      <li>
        <i class="fas fa-dollar-sign"></i>
        <h2>RESERVEZ</h2>
        <p>Faite votre choix parmi notre annuaire d'agences présentent en France</p>
      </li>

      <li>
        <i class="fas fa-space-shuttle"></i>
        <h2>BISMILLAH</h2>
        <p>Labaik Allahuma labaik, Labaikala sharika laka labaik...</p>
      </li>
    </ul>

<a href="#"> En savoir plus </a>
</div>
{% endblock %}
