
{% extends 'log_form/baseform.html.twig'%}

{% block body %}
{{ parent() }}


  <div class="log_form">
    <div class="tete">

      <h1>Créer un compte</h1>

    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">M'inscrire </button>
    {{ form_end(form) }}

  </div>
{% endblock %}
