body{
  /*background: url('../images/desk.jpg');*/
  background-repeat: no-repeat;


}

.bodyadmin{
  opacity: 1;
  width: 1000px;
  margin: 0 auto;
}

.bodyadmin table{
  border: 1px solid gray;
}

img{
  width: 100%;
}
.header{
  background-color: #2b297d;
  color:white;
  font-family: "Mukta Mahee", sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
}

.nav{


  text-align: center;
  margin-top: -45px;
  background-color: #2b297d;
  opacity: 0.8;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color:white;
  font-family: "Mukta Mahee", sans-serif;
  padding: 20px;

}

.nav li{
  color:lightgray;
  display: inline-block;
  padding-top: 100px;
  margin-bottom: 90px
}

.nav span{
  display: block;
  color:white;
  text-decoration: none;
  width: 200px

}

.nav a{
   opacity: 0.6;
  color:lightgray;
  text-decoration: none;
}

.nav a:hover{
  opacity: 1;
  color:white;

  font-weight: bold;
}

.fa-comment-alt, .fa-pencil-alt, .fa-users, .fa-list, .fa-align-justify, .fa-building, .fa-clipboard{

  font-size: 100px
}

#logout{
  width: 300px;
  height: 100px;
  background-color: white;
  color: #2b297d;
  padding: 20px;

}

.btn{
  margin-top: 20px;
}
