#live{
  position: absolute;
  right: 4%;
  margin-top: 405px;
}

.list-group-item{
  width: 200px;
  float: left;

}

@media (max-width: 575px) {

  #live{
    display: none;
  }

}

@media (min-width: 576px) and (max-width: 811px) {

  #live{
    display: none;

}
}

@media (min-width: 812px) and (max-width: 1199px) {

  #live{
    position: absolute;
    margin-left: 5px;
    background-color: white;
  }


 }
