
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CGU</title>
    <link rel="stylesheet" href="{{asset('css/stylemention.css')}}">
  </head>

<body>
<div class="cgu">

<h1>Conditions Générales d'Utilisation</h1>
<ul>
<li>0. MENTIONS LEGALES</li>
<p>
Ce site est hébergé par  OVH, SAS au capital de 10 000 000 €, dont le Siège social est situé 2 rue Kellermann - 59100 Roubaix - France.

Directeur de la publication: Madame Zaidouni - ....
conception et maintenance du site: Monsieur Bouhsen yacine.

</p>

<li>1. OBJET</li>
<p>
Le présent document (les "CGU") définit les conditions générales d'utilisation applicables à tout utilisateur au service pilgrims.fr, un service de recherche d'agence pour le depart au pelrinage à la mecque.
pilgrims.fr est un site Internet disponible à l'adresse http://www, qui recense les agences de France, de depart pour le pelrinage à la mecque. Toutefois, pilgrims.fr ne saurait garantir l’exactitude des données publiées. Par conséquent, pilgrims.fr ne peut être tenu pour responsable de toute erreur, omission, inexactitude, inactualité des informations contenues dans le site.
</p>


<li>2. PORTEE</li>
<p>
En utilisant le service pilgrim.fr, l'Utilisateur reconnaît expressément qu'il a pris connaissance des CGU et qu'il en accepte l'intégralité des termes, sans aucune réserve. Les relations entre pilgrims et l'Utilisateur seront régies par les CGU, à l'exclusion de tout autre document.
pilgrims.fr se réserve le droit de retirer sans avertissement le profil de toute personne qui n'observe pas l'une des conditions suivantes ou toute personne jugée indésirable.
</p>

  <li>3 Inscription</li>
  <p>

L'inscription à un ou plusieurs services de pilgrims.fr ainsi que l'utilisation du présent site supposent l'acceptation pleine et entière des présentes conditions par l’Utilisateur.
S'inscrivent les personnes physiques ayant accepté les présentes conditions.

Peuvent s'inscrire aux services de pilgrims.fr les personnes physiques uniquement, disposant d'une adresse électronique. Pour s’inscrire, l'Utilisateur devra remplir le formulaire d'inscription figurant sur le site Internet de pilgrims.fr,
L'inscription au Service sera effectif dès lors que le formulaire aura validé.
</p>

<li>4 Utilisation</li>
<p>
L’Utilisateur bénéficie d'un accès aux services disponibles sur pilgrims.fr. Dans le cadre de l'utilisation des services, l’Utilisateur s'engage notamment à respecter les règles suivantes :

    Se conformer aux lois en vigueur et respecter les droits des tiers.
    Ne pas utiliser pilgrims.fr à des fins professionnelles ou commerciales (prospection, racolage ou prostitution), ou dans le but de réunir des Utilisateurs pour une quelconque manifestation

En cas de manquement par un Utilisateur à une ou plusieurs de ces règles, pilgrims.fr se réserve le droit de supprimer les comptes des Utilisateurs concernés.
</p>



<li>5 Commentaires</li>
<p>
pilgrims.fr met à votre disposition un espace "Commentaires" afin de pouvoir partager votre opinion sur les Hotels et sur les articles posté du blog.

pilgrims.fr se réserve le plein droit d'effacer certains commentaires.

Les commentaires à caractère diffamatoire ou raciste  seront effacé.
De la même manière, les messages concernant des problèmes de santé liés à la nourriture d'un restaurant, ne seront pas publiés sans une preuve de dépôt de plainte et un certificat médical.
</p>

<li>6 OBLIGATIONS DE L'UTILISATEUR</li>

  <p>
    l'utilisateur s'engage lors de son inscription à fournir des données exactes et à jour, et à informer pilgrims.fr de toute modification. L'Utilisateur est seul responsable de la préservation de la confidentialité de son identifiant et de son code d'accès ; ces derniers sont strictement personnels et l'Abonné sera seul responsable de l'ensemble des conséquences dommageables de la communication à tout tiers, par l'Abonné, de son identifiant et/ou de son code d'accès ;
  </p>

</ul>
</div>

</body>
</html>
